$theme-colors: ( "primary": #6f4e37, );

@import "node_modules/bootstrap/scss/bootstrap";


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
}

#logo
{
    width: 200px;
    height: 68px;
}

body {
    background-image: url('/_content/Mac.Digital/img/coffeebean.webp');
    background-size: cover;
    background-repeat: repeat-y;
}

.b-layout-content {
    background-color: rgba(248,249,250, 0.8);
}
