@inherits ReactiveComponentBase<MachineOffCheckViewModel>

@if (this.ViewModel is null)
{
    return;
}

@if (this.ViewModel.PoweredOn)
{
    @ChildContent
}
else
{
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-l-4">
            <Card>
                <CardLink @onclick="TurnOn" Source="#">
                    <CardImage Source="/_content/Mac.Digital/img/powerbutton.png" Alt="Power is off"></CardImage>
                </CardLink>
                <CardBody>
                    <CardTitle Size="5">The machine is off.</CardTitle>
                    <CardText>
                        The machine is off. Please turn it on with the power button.
                    </CardText>
                </CardBody>
            </Card>
        </div>
    </div>
}