@inherits LayoutComponentBase
<div id="background">
</div>
<Blazorise.Layout >
    <LayoutHeader Fixed="true">
        <Header />
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter class="b-layout-footer-fixed bg-light">
        <Footer />
    </LayoutFooter>
</Blazorise.Layout>
