@inherits LayoutComponentBase
<Blazorise.Layout >
    <LayoutHeader Fixed="true">
        <Header />
    </LayoutHeader>
    <LayoutContent>
        <div class="p-5">
            @Body
        </div>
    </LayoutContent>
    <LayoutFooter class="b-layout-footer-fixed bg-light">
        <Footer />
    </LayoutFooter>
</Blazorise.Layout>
